// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700)

// Font variables
$roboto-slab: 'Roboto Slab', serif 

// Colors variables
$text-color: #fff
$text-color-secondary: #e9e3e3
$body-bg-color: #252546
$bg-color: #111
$bg-color-secondary: #1d1d1d
$gradient: linear-gradient(90deg, #9e9c9c 0%, #949494 100%)
$greenGradient: linear-gradient(90deg, #1c4136 0%, #007a52 100%)
$gradient-button: linear-gradient(90deg, #27273f 0%, #261f4e 100%)

// Format
$container-border-radius: 10px
$card-border-radius: 5px


